

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'futura-std-bold-condensed-oblique', sans-serif;
}
.menukub{
    position: absolute;
    background-color: #0170b9;
    width: 683px;
    height: 510px;
    top: 200px;
}
.is{
    position: absolute;
    top: 220px;
    font-size: 50px;
    margin: 0 40px;
}
.infor{
    position: absolute;
    top: 300px;
    left: 43px;
    right: 800px;
    font-size: 35px;
}
.coleg{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 270px;
    right: 100px;
}
.nav-menu{
    position: absolute;
    left: 800px;
}
.logo{
    position: absolute;
    width: 140px;
    height: 100px;
    top: 5px;
    left: 50px;
}
h1{
    position: absolute;
    color: black;
    left: 200px;
    font-size: 30px;
    top: 40px;
}
.home{
    position: absolute;
    left: 80px;
    top: 115px;
    color: #0170b9;
    font-size: 20px;
    font-weight: 400;
}
.project{
    position: absolute;
    left: 250px;
    top: 115px;
    color: #0170b9;
    font-size: 20px;
    font-weight: 400;
}
.pasport{
    position: absolute;
    left: 480px;
    top: 115px;
    color: #0170b9;
    font-size: 20px;
    font-weight: 400;
}
.contact{
    position: absolute;
    left: 740px;
    top: 115px;
    color: #0170b9;
    font-size: 20px;
    font-weight: 400;
}
.obiv{
    position: absolute;
    left: 920px;
    top: 115px;
    color: #0170b9;
    font-size: 20px;
    font-weight: 400;
}
.br{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 25px;
    box-shadow: 0 0 2px black;
}
.line{
    background-color: darkgray;
    width: 1px;
    height: 30px;
    position: absolute;
    right: 100px;
    top: 48px;
}
.kz{
    position: absolute;
    top: 49px;
    right: 110px;
    width: 42px;
    height: 27px;
    box-shadow: 0 0 2px black;
}
.line2{
    background-color: darkgray;
    width: 1px;
    height: 30px;
    position: absolute;
    right: 165px;
    top: 48px;

}
.ru{
    position: absolute;
    top: 49px;
    right: 180px;
    width: 42px;
    height: 27px;
    box-shadow: 0 0 1px black;
}
.colleg{
    position: absolute;
    top: 170px;
    right: 50px;
}
.bigline{
    background-color: rgb(201, 201, 201);
    width: 1349px;
    height: 2px;
    position: absolute;
    top: 160px;
}
.db{
    position: absolute;
    top: 230px;
    font-size: 30px;
    left: 30px;
    right: 600px;
    color: white;
}
.inf{
    position: absolute;
    top: 370px;
    left: 30px;
    right: 750px;
    font-size: 22px;
    color: white;
    font-weight: 500;
}
.litline{
    background-color: white;
    position: absolute;
    width: 450px;
    height: 3px;
    top: 330px;
    left: 30px;
}
.colleg{
    position: absolute;
    top: 230px;
    width: 600px;
    right: 100px;
    box-shadow: 0 0 5px black;
}
.photo1{
    position: absolute;
    top: 1000px;
    width: 350px;
    left: 100px;
}
.photo2{
    position: absolute;
    top: 1050px;
    width: 350px;
    left: 500px;
}
.photo3{
    position: absolute;
    top: 1000px;
    width: 350px;
    left: 900px;
}
.col{
    position: absolute;
    top: 795px;
    left: 650px;
    width: 45px;
}
.line3{
    position: absolute;
    background-color: #0170b9;
    top: 822px;
    width: 500px;
    height: 4px;
    left: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.line4{
    position: absolute;
    background-color: #0170b9;
    top: 822px;
    width: 500px;
    height: 4px;
    right: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.minblock{
    position: absolute;
    border: 5px solid #0170b9;
    top: 200px;
    right: 70px;
    width: 180px;
    height: 1px;
}
.minblock2{
    position: absolute;
    border: 5px solid #0170b9;
    top: 200px;
    right: 70px;
    height: 180px;
    width: 1px;
}
.minblock3{
    position: absolute;
    border: 5px solid #0170b9;
    top: 530px;
    right: 70px;
    height: 180px;
    width: 1px;
}
.minblock4{
    position: absolute;
    border: 5px solid #0170b9;
    top: 700px;
    right: 70px;
    width: 180px;
    height: 1px;
}
.block{
    position: absolute;
    background-color: #0170b9;
    top: 1233px;
    width: 350px;
    height: 100px;
    left: 100px;
}
.block2{
    position: absolute;
    background-color: #0170b9;
    top: 1283px;
    width: 350px;
    height: 100px;
    left: 500px;
}
.block3{
    position: absolute;
    background-color: #0170b9;
    top: 1233px;
    width: 350px;
    height: 100px;
    left: 900px;
}
.rol{
    position: absolute;
    top: 3000px;
}
.minline1{
    position: absolute;
    border: 5px solid #0170b9;
    top: 970px;
    left: 70px;
    width: 100px;
    height: 1px;
}
.minline2{
    position: absolute;
    border: 5px solid #0170b9;
    top: 970px;
    left: 70px;
    width: 1px;
    height: 100px;
}
.minline3{
    position: absolute;
    border: 5px solid #0170b9;
    top: 1433px;
    right: 70px;
    width: 100px;
    height: 1px;
}
.minline4{
    position: absolute;
    border: 5px solid #0170b9;
    top: 1333px;
    right: 70px;
    width: 1px;
    height: 100px;
}
.text1{
    position: absolute;
    top: 1250px;
    left: 100px;
    right: 900px;
    text-align: center;
    font-size: 19px;
    color: white;
}
.text2{
    position: absolute;
    top: 1300px;
    left: 500px;
    right: 500px;
    text-align: center;
    font-size: 19px;
    color: white;
}
.text3{
    position: absolute;
    top: 1250px;
    left: 900px;
    right: 100px;
    text-align: center;
    font-size: 19px;
    color: white;
}
.zag{
    position: absolute;
    top: 900px;
    color: #0170b9;
    left: 330px;
    font-size: 33px;
}
.line5{
    position: absolute;
    background-color: #0170b9;
    top: 1500px;
    width: 500px;
    height: 4px;
    left: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.line6{
    position: absolute;
    background-color: #0170b9;
    top: 1500px;
    width: 500px;
    height: 4px;
    right: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.cap{
    position: absolute;
    top: 1480px;
    left: 650px;
    width: 45px;
}
.bigblock1{
    position: absolute;
    top: 1550px;
    left: 100px;
    width: 350px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.bigblock2{
    position: absolute;
    top: 1550px;
    left: 500px;
    width: 350px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.bigblock3{
    position: absolute;
    top: 1550px;
    left: 900px;
    width: 350px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.tk{
    position: absolute;
    top: 1680px;
    left: 100px;
    right: 900px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
}
.tk1{
    position: absolute;
    top: 1870px;
    left: 100px;
    right: 900px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.bred{
    position: absolute;
    top: 1570px;
    left: 220px;
    width: 100px;
}
.bezalc{
    position: absolute;
    top: 1680px;
    left: 500px;
    right: 500px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.bezalc1{
    position: absolute;
    top: 1870px;
    left: 500px;
    right: 500px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.beer{
    position: absolute;
    top: 1570px;
    left: 630px;
    width: 90px;
}
.bd{
    position: absolute;
    top: 1680px;
    left: 920px;
    right: 120px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
}
.bd1{
    position: absolute;
    top: 1870px;
    left: 910px;
    right: 110px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.money{
    position: absolute;
    top: 1570px;
    left: 1030px;
    width: 90px;
}
.bigblock4{
    position: absolute;
    top: 2000px;
    left: 100px;
    width: 350px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.bigblock5{
    position: absolute;
    top: 2000px;
    left: 500px;
    width: 350px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.bigblock6{
    position: absolute;
    top: 2000px;
    left: 900px;
    width: 350px;
    height: 400px;
    background-color: #0170b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.web{
    position: absolute;
    top: 2160px;
    left: 100px;
    right: 900px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
}
.web1{
    position: absolute;
    top: 2300px;
    left: 100px;
    right: 900px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.pk{
    position: absolute;
    top: 2035px;
    left: 220px;
    width: 100px;
}
.op{
    position: absolute;
    top: 2160px;
    left: 500px;
    right: 500px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.op1{
    position: absolute;
    top: 2300px;
    left: 500px;
    right: 500px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.pov{
    position: absolute;
    top: 2035px;
    left: 625px;
    width: 100px;
}
.buh{
    position: absolute;
    top: 2160px;
    left: 920px;
    right: 120px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
}
.buh1{
    position: absolute;
    top: 2300px;
    left: 910px;
    right: 110px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.audit{
    position: absolute;
    top: 2035px;
    left: 1020px;
    width: 90px;
}